@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
.song-list {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vw;
  background-color: rgb(228, 226, 226);
  box-shadow: 2px 2px 50px rgb(241, 235, 235);
  overflow-y: scroll;
  transition: all 1s linear;
  h2 {
    padding: 2vw;
    text-align: center;
    font-family: "Calistoga", cursive;
  }
}
.song-list-item {
  display: flex;
  flex-direction: column;
  padding: 4vh 2vw;
  justify-content: center;

  img {
    width: 30%;
  }
}
.song-item {
  margin-bottom: 4vh;
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: rgb(200, 200, 200);
  }
}
.song-description {
  padding-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h3 {
    font-size: 1rem;
    margin-bottom: 1vh;
    font-family: "Lato", sans-serif;
  }
  h4 {
    font-size: 0.7rem;
    font-family: "Lato", sans-serif;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
}
.selected {
  background-color: rgb(111, 125, 142);
}
.displayList {
  transform: translateX(-20vw);
}

@media screen and (max-width: 900px) {
  .song-list {
    width: 30%;
  }
  .displayList {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 768px) {
  .displayList {
    transform: translateX(-100%);
  }
  .song-list {
    width: 100%;
    h2 {
      margin-top: 10px;
    }
  }
}
