@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&family=Open+Sans:wght@500&display=swap");
.song-container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    width: 20%;
    border-radius: 50%;
  }
  h2 {
    padding: 3rem 1rem 1rem 1rem;
    font-family: "Fugaz One", cursive;
    color: rgb(54, 54, 54);
  }
  h3 {
    font-size: 1rem;
    font-family: "Markazi Text", serif;
    color: rgb(54, 54, 54);
  }
}
@media screen and (max-width: 900px) {
  .song-container {
    img {
      width: 30%;
    }
  }
}
@media screen and (max-width: 768px) {
  .song-container {
    img {
      width: 40%;
    }
  }
}
